<header>
    <a href="#" class="logo">
        <img src="/img/mau-logo-nha-sach.jpg" alt="">
    </a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <ul class="navbar">
        <li><a href="/trangchu">Trang chủ</a></li>
        <li><a href="/gioithieu">Giới thiệu</a></li>
        <li><a href="/sanpham">Sản Phẩm</a></li>
        <li><a href="/lienhe">Liên hệ</a></li>
    </ul>
    <div class="header-icon">
        {{!-- <a href="/shoppingcart"><i class='bx bx-cart-alt'></i></a>
        <i class='bx bx-search' id="search-icon"></i> --}}
        <a href="/dangnhap"><i class='bx bxs-user'></i></a>
    </div>
</header>
